#left {
  width: 165px;
}

.active {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(218, 9, 9);
  border: 1px solid rgb(218, 9, 9);
}

.disabled {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid black;
}

.mySkillCell {
  text-align: center;
  width: 75px;
  display: inline-block;
}

.mySkillCell > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid red;
}

.buttons > div {
  display: inline-block;
  width: 50px;
  border: 1px solid red;
  color: red;
  text-align: center;
}

.myProgress {
  width: 300px;
  height: 35px;
  margin: 0px;
  padding: 0px;
}
.progressActive {
  background-color: royalblue;
  width: 60%;
  height: 35px;
  float: left;
}
.progressDisabled {
  background-color: gray;
  width: 35%;
  height: 35px;
  float: left;
}
.progressDisabled > span {
    color: black;
    font-size: 32px;
    font-weight: bold;
    margin-left: 15px;
}

.rounded-circle {
    width: 75px;
    height: 75px;
}


